apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: kafka
spec:
  revisionHistoryLimit: 2 
  selector:
    matchLabels:
      app: kafka-ui
  replicas: 1
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      nodeSelector:
        kubernetes.io/arch: arm64
      containers:
      - name: kafka-ui
        image: kafbat/kafka-ui:main
        ports:
          - name: web
            containerPort: 8080
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        env:
          - name: DYNAMIC_CONFIG_ENABLED
            value: "false"
          - name: KAFKA_CLUSTERS_0_NAME
            value: "my-cluster"
          - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
            value: "my-cluster-kafka-bootstrap:9092"

